<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin" width="800" height="1600" viewBox="0 0 800 1600">
  <svg:rect height="1600" width="800" style="stroke-width:1;stroke:rgb(158, 136, 136);fill:none;"/>
  <svg:g *ngFor="let block of blocks()">
      <svg:rect  class="redgrad" style="stroke-width:3;stroke:rgb(71, 71, 71)" [attr.x]="block.x * 100" [attr.y]="block.y * 100" [attr.fill]="block.colour"
      width="100" height="100" >
    </rect>
  </svg:g>
</svg>