<div class="row align-middle">
  <div class="col-9 my-auto">
    <h1 class="m-2 text-info">A Game of Blocks
      <sup class="text-success">*</sup>
    </h1>
  </div>
  <div class="col-3 my-auto">
    <img style="max-width: 100%" src="assets/background_no_strap.png" />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col text-center m-2">
    <ul class="list-group">
      <li class="list-group-item">Move shape left:
        <img style="max-height:50px;" class="img-fluid m-1" src="assets/left.png" />
      </li>
      <li class="list-group-item">Move shape right:
        <img style="max-height:50px;" class="img-fluid m-1" src="assets/right.png" />
      </li>
      <li class="list-group-item">Move shape down:
        <img style="max-height:50px;" class="img-fluid m-1" src="assets/down.png" />
      </li>
      <li class="list-group-item">Rotate shape:
        <img style="max-height:50px;" class="img-fluid m-1" src="assets/space.png" />
      </li>
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <button (click)="startGame()" class="btn btn-success m-2">START A NEW GAME</button>
</div>
<div>
  <sub class="text-success">
    * Because trademark is a thing
  </sub>
  <a class="float-right" href="https://bitbucket.org/rtroywest/troywest-blocks">View the Code</a>
</div>