<div class="container-fluid h-100">

  <div class="row h-100">

    <div class="col-md-3 border d-none d-md-block">
        <tsb-game-state></tsb-game-state>
        <h3 class="text-info mt-3 ml-2">Last Score: {{lastScore}}</h3>
        <h3 class="text-info mt-2 ml-2">Best score this session: {{bestScore}}</h3>

        <div class="card mb-2 mt-3">
          <div class="card-header bg-success">
            All time high scores
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let score of highScores" class="list-group-item">{{score.name}}: {{score.score}}
              <span class="float-right">{{score.time | date:'dd MMM yy'}}</span>
            </li>
          </ul>
        </div>
    </div>

    <div class="col-md-9 col-12  mh-100">
      <tsb-game-area *ngIf="activeScreen === 'Playing'"></tsb-game-area>
      <tsb-start-screen *ngIf="activeScreen === 'Start'"></tsb-start-screen>
      <tsb-save-score (saved)="onScoreSaved()" [scoreToSave]='lastScore' *ngIf="activeScreen === 'SaveScore'"></tsb-save-score>
    </div>

  </div>
</div>