<div class="row justify-content-center h-100">
  <div class="col my-auto">
    <form>
      <h3>Save your score of {{scoreToSave}}</h3>
      <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" [(ngModel)]="userName" class="form-control" id="userName" name="userName" placeholder="Enter your name">
      </div>
      <button type="submit" (click)="saveScore()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>