<div class="m-2">
  <h3 class="text-success">Current score: {{currentScore}}</h3>
  <div class="card mt-3 mb-2">
    <div class="card-header bg-primary">
      Next shape
    </div>
    <div class="card-body">
      <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin" width="80" height="80" viewBox="0 0 80 80">
          <svg:rect *ngFor="let block of nextShape.blocks" [attr.x]="block.x * 20" [attr.y]="block.y * 20" [attr.fill]="block.colour"
            stroke="black" stroke-linejoin="bevel" width="20" height="20">
          </svg:rect>
        </svg>
      </div>
    </div>
  </div>
</div>